@import "../../../assets/styles/variables";

.contact-section {

  .icons-section {
    margin-top: -0.5rem;

    i {
      color: $themeBlue;
      width: 10px;
      margin-right: 18px;
      font-size: 18px;
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    .item-website {
      display: none;
    }

    p {
      margin-bottom: 0;
      padding: 0.5rem 0;
    }
  }

  .social-icons {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
  }

  .social-icons a {
    margin-right: 3rem;
  }

  .social-icons img {
    max-width: 30px;
    border-radius: 10%;
  }
}

@media (max-width: ($breakpoint-desktop-large)) {
  .contact-section {
    .icons-section {
      margin-top: 0;
    }

    .icons-section p {
      padding: 0 0 20px 0;
    }
  }
}

@media (max-width: ($breakpoint-mobile)) {
  .contact-section {
    .icons-section {
      margin-top: 0;
    }

    .icons-section p {
      padding: 0 0 20px 0;
    }

    .social-icons {
      margin-top: 1.5rem;
    }

    .social-icons a {
      margin-right: 3rem;
    }
  }
}

@media print {
  .contact-section {
    .icons-section .item-website {
      display: block;
    }

    .social-icons {
      display: none;
    }
  }

}