@import "../../../assets/styles/variables";

.work-section {
  .special-skills ul {
    list-style-type: circle;
  }

  .remark {
    font-size: 90%;
    color: grey;
  }
}

.color-main {
  color: $themeBlue;
}