@import "../assets/styles/variables";

.App {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;

  .content {
    margin-left: 250px;
    padding: 20px 80px;
  }

  section {
    padding: 20px 0;
  }

  section .section-content {
    padding: 30px 30px;
  }

  section .title-area {
    span {
      opacity: 0.85;
      margin-right: 1.5rem;
    }
    i {
      color: $themeBlue;
    }
  }

  //-------------
  //GENERAL
  .opacity {
    opacity: 0.6;
  }

  b {
    font-weight: 500;
  }
}