.App {
  //text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;

  .content {
    margin-left: 250px;
    padding: 20px 80px;
  }

  .content section {
    padding: 20px 0;
  }

  .section-content {
    padding: 30px 30px;
  }

  .opacity {
    opacity: 0.6;
  }

  b {
    font-weight: 500;
  }
}