@import "../assets/styles/variables";

.App {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;

  .content {
    margin-left: 250px;
    padding: 20px 80px 0 80px;
  }

  h6 {
    font-size: 1.1rem;
  }

  ul {

  }

  section {
    padding: 20px 0;
  }

  section .section-content {
    padding: 30px 0;
  }

  section .section-content a {
    color: #595959;
    text-decoration: underline;
  }

  section .title-area {
    span {
      opacity: 0.85;
      margin-right: 1.5rem;
    }
    i {
      color: $themeBlue;
    }
  }

  //-------------
  //GENERAL
  .opacity {
    opacity: 0.6;
  }

  b {
    font-weight: 500;
  }
}

@media (max-width: ($breakpoint-desktop-large)) {
  .App {
    .content {
      margin-left: 280px;
      padding: 20px;
    }

    section .section-content {
      padding: 30px 0;
    }
  }
}

@media (max-width: ($breakpoint-mobile)) {
  .App {
    .content {
      margin-left: 0;
      padding: 20px 40px 0 40px;
    }

    section .section-content {
      padding: 30px 0;
    }

    ul {
      padding: 0 20px;
    }
  }
}

@media print {
  .App {
    .content {
      margin-left: 0;
      padding: 20px 40px 0 40px;
    }

    section .section-content {
      padding: 20px 0;
    }

    section .section-content a {
      text-decoration: none;
    }
  }
}
