$plainWhite: #ffffff;
$plainBlack: #000000;

$themeBlue: #79c6c8;
$themeOrange: #ff7159;

$breakpoint-desktop-extra-large: 1440px;
$breakpoint-desktop-large: 992px;
$breakpoint-mobile: 767px;
$breakpoint-mobile-small: 480px;
