@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.side-menu {
  width: 250px;
  z-index: 100;
  background: $themeBlue;
  position: fixed;
  height: 100vh;
  text-align: center;
  padding: 25px 10px;
  color: $plainWhite;

  .relative-container {
    position: relative;
    height: 100%;
  }

  .avatar {
    width: 170px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 15px;
  }

  .name-area {
    h2 {
      text-transform: uppercase;
      font-size: 1.5rem;
    }
    p {
      font-size: 1.25rem;
    }
  }

  .nav-area {
    position: absolute;
    width: 100%;
    bottom: 0;

    ul {
      list-style: none;
      padding: 0;
      margin-bottom: 0;

      li {
        margin: 20px;
        border-bottom: 2px solid $plainWhite;
        border-top: 2px solid $plainWhite;

        &:last-child {
          margin-bottom: 0;
        }

        a {
          padding: 10px;
          display: block;
          color: inherit;
          text-decoration: none;

          span {
            position: relative;
            top: 0;
            transition: top ease 0.2s;
          }

          &:active {
            span {
              top: 3px;
            }
          }
        }

        @include shift-effect-button($plainWhite, tint($themeBlue, 20%));
      }
    }
  }
}

@media (max-width: ($breakpoint-mobile)) {
  .side-menu {
    width: 100%;
    height: initial;
    position: initial;
  }

  .nav-area {
    display: none;
  }
}